<nav class="navigationbar">
    <div class="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="menu-items">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/tradsbooks">Trads Book</a></li>
            <li><a href="/overview">Over View</a></li>
        </ul>
    </div>
    <div class="logo">
        <h1>TradBuddy</h1>
    </div>
    <div class="menu-items">
        <ul>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </div>
</nav>
<div class="sidebar">
    <button class="close-btn">&times;</button>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/tradsbooks">Trads Book</a></li>
        <li><a href="/overview">Over View</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/profile">Profile</a></li>

    </ul>
</div>