
<div id="mySidenav" class="sidenav">
  <p class="logo"><span>Tred</span>Buddy</p>
  <a href="{{ url_for('Home') }}" class="icon-a"><i class="fa fa-dashboard icons"></i>   Home</a>
  <a href="{{ url_for('Tred_Setup') }}"class="icon-a"><i class="fa fa-users icons"></i>   Tred Setup</a>
  <a href="{{ url_for('Positions') }}"class="icon-a"><i class="fa fa-list icons"></i>   Positions</a>
  <a href="{{ url_for('Backtest') }}"class="icon-a"><i class="fa fa-shopping-bag icons"></i> Backtest</a>

</div>







